/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: arial;
}

.nopadding{
	&.even{
		padding-right: 0;
	}
	&.odd{
		padding-left: 0;
	}
}

#wrapper{
	overflow: hidden;
	#header-desktop{

	}

	#header-mobile{
		.navbar{
			background: #fff;
			border: none;
			padding: 0;
			.bg-search{
				width: 100%;
			    background: #fff;
			    padding: 20px 0;
			}
		}
		.navbar-header{
			width: 100%;
			img{
				// width: 100%;
			}
			.menus{
				position: relative;
				z-index: 2;
			}
			.logo{
				margin-top: 15px;
			}
			.centerMobile{
				position: relative;
				a{
					display: block;
					text-align: center;
				}
				.shop-act-list{
					position: absolute;
					right: 0;
					top: 20px;
					margin-top: 0;
				}
			}
		}
		.navbar-toggler{
			padding: 13px 0;
			outline: none;
			.icon-bar{
				display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background: #fff;
			    margin-bottom: 5px;
			}
		}
		#navbar{
			ul{
				li{
						padding: 10px 0;
					a{
					    color: #0096d9;
					}
				}
			}
		}
		.form-inline{
			position: relative;
			margin-top: 7px;
			input{
				background: #f2f2f2;
				width: 100% !IMPORTANT;
    			margin-left: 0 !important;
    			border: none;
			}
			.fa-search{
				top: 30%;
				position: absolute;
				right: 10px;
			    color: #bfbfbf;
			}
		}
		.shop-act-list{
			margin-top: 15px;
			text-align: right;
			ul{
				display: inline-block;
				padding: 0;
				margin: 0;
				.search{
					margin-top: 3px;
				}
				li{
					float: left;
					position: relative;
					list-style: none;
					margin-right: 15px;
					cursor: pointer;
					@media screen and(max-width: 768px){
						margin-right: 10px;
					}
					&:last-child{
						margin-right: 0;
					}
					.fa-search{
						top: 30%;
						position: absolute;
						right: 10px;
						color: #fff;
					}
					.count{
						position: absolute;
						background: #ffc53e;
						color: #333;
						font-size: 8px;
						top: -5px;
					    right: 0;
					    width: 10px;
					    height: 10px;
					    border-radius: 50%;
					    text-align: center;
					}
					.cart{
						position: relative;
					}
					.notif{
						position: relative;
					}
				}
			}
		}
		.banner-mobile{
			margin-top: 150px;
			.block{
				img{
					width: 100%;
					object-fit:cover;
				}
			}
			.slick-dots{
				text-align: center;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    right: 0;
					li{
						list-style: none;
						display: inline-block;
						margin-right: 10px;
						button{
							text-indent: -9999px;
							border: none;
							background: #d7d7d7;
							width: 10px;
							height: 10px;
							border-radius: 50%;
						}
					}
					.slick-active{
						button{
							background: #e3211d;
						}
					}
			}	
		}
	}

	#top{
		background: #211f1d;
		height: 30px;
		line-height: 30px;
		border-bottom: 1px solid #292827;
		.top-cols{
				font-size: 12px;
			.left{
				.cols{
					margin-left: 20px;
					a{
						padding-left: 20px;
						color: #999;
					}
				}
				.tlp{
					background: url(../img/ico-tlp.png) no-repeat left;
					@media screen and (min-width: 768px)and(max-width: 1024px) {
						margin-left: 10px;
					}
					a{
						color: #ec7612;
					}
				}
				.email{
					background: url(../img/ico-mail.png) no-repeat left;
			    	margin-left: 0;
				}
			}
			.right{
				text-align: right;
				.cols{
					margin-right: 15px;
					&:last-child{
						padding-left: 20px;
					}
				}
				.maps{
					background: url(../img/ico-location.png) no-repeat left;
					a{
						padding-left: 20px;
						color: #999;
					}
				}
			}
			.cols{
				display: inline-block;
				a{
					color: #fff;
				}
				.dropdown-toggle{
					background: transparent;
				    border: none;
    				padding: 0;
					img{
						float: left;
						margin-top: 5px;
					}
					.txt{
						float: left;
						line-height: 8px;
						margin: 7px 5px;
						color: #ec7612;
  						font-size: 12px;
					}
					.caret{
						color: #666;
					    float: left;
				        margin-top: 2px;
					}
				}
				.dropdown-menu{
					min-width: 70px;
				}
			}
		}
	}

	#header{
		background: #211f1d;
		padding: 30px;
		.logo{
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				img{
					width: 100%;
				}
			}
		}
		.search-top{
			.form-inline{
				background: #fff;
				font-size: 12px;
			    border: none;
    			border-radius: 20px;
				.dropdown-toggle{
					border: none;
					padding: 0 15px !Important;
				}
				.filter-option-inner-inner{
				    font-size: 13px;
    				padding-top: 2px;
				}
				input{
					border: none;
					background: none;
				    width: 68%;
				}
				.bootstrap-select{
					width: 140px;
					@media screen and (max-width: 768px) {
						width: 70px;
					}
					.selectpicker{
						background: none;
					}
					.dropdown-toggle{
						background: none;
						border-top: none;
						border-right: none;
						border-bottom: none;
						border-radius: 0;
						padding: 0 10px;
						color: #666;
					}
				}
				.search-btn{
				    position: absolute;
				    right: 15px;
				    top: 0;
				    width: 55px;
				    height: 40px;
				    text-align: center;
				    line-height: 35px;
				    color: #333;
				    cursor: pointer;
				    font-size: 16px;
				}
			}
		}
		.top-right{
			padding-top:10px;
			.shop-act-list{
				padding: 0;
				@media screen and (min-width: 568px)and(max-width: 1024px) {
				    max-width: 100% !IMPORTANT;
				    width: 100%;
				    flex: none;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						float: left;
						position: relative;
						list-style: none;
						margin-right: 8px;
						cursor: pointer;
					    text-align: center;
    					margin-right: 10px;
						img{
							display: inline-block;
						}
						span{
							display: block;
							color: #999999;
							font-size: 12px;
						}
						.count{
							position: absolute;
							background: #f36f36;
							color: #fff;
							font-size: 8px;
							top: -5px;
						    right: 0;
						    width: 10px;
						    height: 10px;
						    border-radius: 50%;
						    text-align: center;
						}
						.cart{
							position: relative;
							&:after{
								display: none;
							}
							.dropdown-menux2{
								display: none;
								width: 275px;
								position: absolute;
							    left: 0;
    							top: 40px;
    							z-index: 9;
    							background: #fff;
    							box-shadow: 1px 1px 1px 3px #b0b0b070;
    							@media screen and (min-width: 768px)and(max-width: 1024px) {
    								left: -200px;
    							}
    							ul{
    								li{
    									float: none;
    									margin:0;
    									position: relative;
    									padding: 8px 30px;
    									margin: 10px 20px;
    									border-bottom: 1px solid #b0b0b070;
    									&:nth-child(1){
    										background: url(../img/top-cart.png) no-repeat left;
    									}
    									&:nth-child(2){
    										background: url(../img/top-chat.png) no-repeat left;
    									}
    									&:nth-child(3){
    										background: url(../img/top-user.png) no-repeat left;
    										border: none;
    									}
    									a{
    										color: #999;
    									}
    									span{
    										position: absolute;
    										right: 10px;
    										font-weight: bold;
    									}
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
								.txt{
    								 padding: 20px 10px;
    								 color: #999;
    							}
    							.subtotal{
    								padding: 20px 10px;
    								color: #999;
    								.total{
    									font-weight: bold;
    									color: #333;
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										border-bottom: 1px solid #eee;
										img{
											width: 100%;
										}
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
							}
						}
						.notif{
							position: relative;
							&:after{
								display: none;
							}
							.dropdown-menux{
								display: none;
								width: 275px;
								position: absolute;
							    left: -100px;
    							top: 40px;
    						    z-index: 9;
    							background: #fff;
    							box-shadow: 1px 1px 1px 3px #b0b0b070;
    							@media screen and (min-width: 768px)and(max-width: 1024px) {
    								left: -200px;
    							}
    							ul{
    								li{
    									float: none;
    									margin:0;
    									position: relative;
    									padding: 8px 30px;
    									margin: 10px 20px;
    									border-bottom: 1px solid #b0b0b070;
    									&:nth-child(1){
    										background: url(../img/top-cart.png) no-repeat left;
    									}
    									&:nth-child(2){
    										background: url(../img/top-chat.png) no-repeat left;
    									}
    									&:nth-child(3){
    										background: url(../img/top-user.png) no-repeat left;
    										border: none;
    									}
    									a{
    										color: #999;
    									}
    									span{
    										position: absolute;
    										right: 10px;
    										font-weight: bold;
    									}
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
    							
							}
						}
					}
				}
			}

			.user-act-list{
				padding: 0;
				@media screen and (max-width: 768px) {
					display: none;
				}
				ul{
					padding-top: 20px;
					margin: 0;
					background: url(../img/ico-user.png) no-repeat center;
					li{
						list-style: none;
						float: left;
						font-size: 12px;
						margin-right: 10px;
						margin-top: 4px;
						&:last-child{
							margin-right: 0;
						}
						a{
							color: #999999;
							&:hover{
								color: #ec7612;
							}
						}
					}
					.shop{

					}
					.sign{
    					.formpop{
    						position: absolute;
    						background: #fff;
    						left: -120px;
    						z-index: 9;
    						width: 350px;
						    padding: 20px;
						    border-color: #ececec;
						    .flexo{
						    	padding: 0 20px;
						    	.right{
						    		font-size: 12px;
						    	}
						    }
						    .input-group-btn{
						    	position: absolute;
						    	right: 0;
						    	button{
						    		border: none;
						    		background: none;
						    		color: #333;
						    	}
						    }
						    .login-btn{
						    	background: #199cb7;
							    color: #fff;
							    width: 100%;
							    border-radius: 25px;
						    }
						    input{
						    	border-radius: 25px;
						    }
    					}
					}
				}
			}
		}
	}

	#menus-wrapper{
		.bg-kategori{
			padding-right: 0;
			h5{
				background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
				color: #fff;
			    height: 45px;
    			padding: 15px 50px;
    			margin-bottom: 0;
    			@media screen and (max-width: 768px) {
    				padding: 15px 0px 15px 50px;
    			}
			}
		}
		.menus{
			ul{
				padding: 20px 0 0 ;
				margin: 0;
				li{
					list-style: none;
					display: inline-block;
					font-size: 18px;
					font-weight: bold;
					margin-right: 20px;
					a{
						color: #333;
						text-decoration: none;
						&:hover{
							color: #c81423;
						}
					}
					.active{
						color: #c81423;
					}
				}
			}
		}
	}

	#banner-wrapper{
		.menu-wrapper{
			overflow: hidden;
			background: #fafafa;
			height: 50px;
			border-bottom: 1px solid #d7d7d7;
			.left{
			    border-left: 1px solid #d7d7d7;
			    padding: 10px;
			    border-right: 1px solid #d7d7d7;
			    text-transform: capitalize;
			    color: #666;
			    font-weight: bold;
			    font-size: 18px;
			    .cat{
			    	background: url(../img/bg-cat.png) no-repeat 3% center;
			    	padding-left:50px;
			    }
			}
			.right{
				.menus{
					ul{
						padding: 0;    
						margin-top: 13px;
    					margin-left: 30px;
						li{
							list-style: none;
							float: left;
							font-weight: bold;
							margin-right: 50px;
							text-transform: capitalize;
							&:last-child{
								margin-right: 0;
							}
							a{
								color: #333;
								text-decoration: none;
								&:hover{
									color: #ec7612;
								}
							}
						}
					}
				}
			}
		}
		.list-cat-wrapper{
		    border-left: 1px solid #d7d7d7;
    		padding: 0;
    		border-right: 1px solid #d7d7d7;
			.list-category{
				background: #fff;
				height: 342px;
			    padding: 20px 0;
			    border-bottom: 1px solid #d7d7d7;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						text-transform: capitalize;
						font-size: 14px;
						line-height: normal;
						a{
							padding: 2px 20px;
							display: block;
							color: #757575;
							text-decoration: none;
							&:hover{
								color: #ec7612;
							}
						}
					}
				}
			}
		}
		.banner-col{
			padding-right: 0;
			padding-left: 0;
			.banner{
				.slidebanner{
					img{
						width: 100%;
						height: 342px;
					}	
					.slick-dots{
						text-align: center;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    right: 0;
							li{
								list-style: none;
								display: inline-block;
								margin-right: 10px;
								button{
									text-indent: -9999px;
									border: none;
									background: #d7d7d7;
									width: 10px;
									height: 10px;
									border-radius: 50%;
								}
							}
							.slick-active{
								button{
									background: #e3211d;
								}
							}
					}	
				}				
							
			}

		}
		.small-banner{
			padding-left: 0;
			.block{
				img{
					width: 100%;
					height: 171px;
				}
			}
		}
	}

	#content-wrapper{
		padding-top: 50px;
		.menu-after-top{
			h3{
				font-weight: bold;
				color: #333;
				@media screen and (max-width: 568px) {
					font-size: 20px;
				}
			}
			.more{
				font-size: 14px;
				margin-top: 7px;
				margin-left: 20px;
				@media screen and (max-width: 568px) {
					margin-top: 0;
					float: right !important;
				}
				a{
				    color: #0066cc;
				}
			}
		}
		.banner-after-menu{
			margin-bottom: 20px;
		}
		.product-wrapper-mobile{
			.left{
				padding-right: 0;
			}
			.right{
				padding-left: 0;
			}
			.block{
				margin-bottom: 10px;
				border-bottom: 1px solid #eee;
				&:first-child{
					border-top: 1px solid #eee;
				}
				&.large{
					a{
						padding: 0 10px;
					}
					border-right: 1px solid #eee;
				    height: 174px;
				    border-top: 1px solid #eee;
					.img{
						text-align: center;
						img{
							width: 60%;
						}
					}
				}
				a{
					padding: 10px;
					display: block;
					.img{
						img{
							width: 100%;
						}
					}
					.title{
						color: #666;
						font-size: 14px;
					}
					.price{
						color: #ec7612;
						font-weight: bold;
						font-size: 14px;
					}
					.price-disc{
						font-size: 12px;
						color: #999;
					}
					.bottom-col{
						.shop-list{
							ul{
								padding: 0;
								margin: 0;
								li{
									list-style: none;
									float: left;
									margin-right: 10px;
									&:last-child{
										margin-right: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		.product-wrapper{
			.product-column{
				.highlight{			
					a{
						padding:0 !Important; 
						img{
							width: 100%;
						}
					}
				}
				.left-column{
					padding-right: 0;
				}
				.block-large{
					padding-right: 0;
					padding-left: 0;
					.block-column-large{
						border: 1px solid #d7d7d7;
						background: #fff;
						@media screen and (min-width: 768px)and(max-width: 1024px) {
							display: none;
						}
						.block{
							height: 242px;
							padding: 20px;
							.title{
								color: #666;
								font-size:14px;
							}
							.price{
								color: #333;
								font-size:14px;
								font-weight: bold;
							}
							.img{
								text-align: center;
							}
							.discount{
								color: #e3211d;
								font-weight: bold;
								padding: 0 15px;
							}
							.save{
								color: #999999;
								font-size: 12px;
							}
							.seemore{
								a{
									color: #999999;
									padding: 20px 0;
									font-size: 12px;
									&:hover{
										box-shadow: none;
									}
								}
							}
							.star-list{
								margin-top: 10px;
								@media screen and (min-width: 768px)and(max-width: 1024px) {
									padding: 0 10px;
								}
								ul{
									float: left;
									padding: 0;
									margin: 0;
									li{
										list-style: none;
										display: inline-block;
									}
								}
								.review{
									float: left;
									margin-left: 10px;
									margin-top: 2px;
									font-size: 10px;
									color: #999;
									@media screen and (max-width: 768px) {
										margin-left: 0;
									}
								}
							}
						}
					}					
				}
				.right-column{
					padding-left: 0;
					.block-column{
						a{
							img{
							    width: 85% !Important;
								@media screen and (min-width: 1200px) {
									height: 180px;
								}
							}
						}
						&:first-child{
					    height: 244px;
						@media screen and (min-width: 768px)and(max-width: 1024px) {
							display: none;
						}
						    a{
						    	padding: 0;
						    	img{
						    		width: 120px !Important
						    	}
						    }
						}
						&:last-child{
							height: 300px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								height: 260px;
							}
						}
					}
				}
				.block-column{
					border: 1px solid #d7d7d7;
					text-align: center;
					background: #fff;
					max-height: 545px;
					@media screen and (min-width: 768px)and(max-width: 1024px) {
						height: 260px;
    					overflow: hidden;
					}
					a{
						display: block;
						padding: 20px;
						text-decoration: none;
						.img{
							img{
								width: 100%;
							}
						}
						.title{
							color: #666;
							font-size:14px;
						}
						.price{
							color: #333;
							font-size:14px;
							font-weight: bold;
						}
					}
				}
				
				.block{
					background: #fff;
					float: left;
					width: 220px;
					height: 328px;
					a{
						color: #333;
						text-decoration: none;
						display: block;
						padding: 20px;
						position: relative;
						&:hover{
							box-shadow: 2px 0px 30px 5px #ccc;
						}
						@media screen and (max-width: 768px) {
							padding: 20px 0;
						}
						@media screen and (max-width: 480px) {
							padding: 20px;
						}
						img{
								// @media screen and(max-width: 1024px) {
									width: 100%;
								// }
							}
						.img{
							min-height: 200px;
							@media screen and (max-width: 480px) {
							    display: flex;
   								align-items: center;
							}
							
						}
						.title{
							margin-bottom: 10px;
							color: #666;
							font-size: 14px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.price{
						    color: #333;
    						font-weight: bold;
    						font-size: 14px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.percent{
							color: #999;
							font-size: 12px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.star-list{
							margin-top: 10px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
							ul{
								float: left;
								padding: 0;
								margin: 0;
								li{
									list-style: none;
									display: inline-block;
								}
							}
							.review{
								float: left;
								margin-left: 10px;
								margin-top: 2px;
								font-size: 10px;
								color: #999;
								@media screen and (max-width: 768px) {
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}
		#banner-ads{		
			padding: 50px 0; 
			background: #f5f5f5;
			.banner{
				img{
				    object-fit: cover;
	    			width: 100%;
				}
			}
		}
		.top-category-wrapper{
			margin: 50px 0;
			.tops{
				border-bottom: 1px solid #eee;
			}
			h3{
				font-weight: bold;
    			color: #333;
    			@media screen and (min-width: 768px)and(max-width: 1024px) {
    				font-size: 24px;
    			}
			}
			.cat-wrapper{
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						display: inline-block;
					    margin-right: 12px;
    					font-size: 14px;
    					@media screen and (min-width: 768px)and(max-width: 1024px) {
    					    margin-right: 10px;
    						font-size: 10px;
    					}
						&:last-child{
							margin-right: 0;
						}
						a{
							color: #999;
							text-decoration: none;
						}
					}
				}
			}
			.list-category{
				.list-category-slide{
					.slick-prev{
						position: absolute;
						z-index: 9;
						background:url(../img/prev.png) no-repeat left;
						width: 24px;
						height: 50px;
						cursor: pointer;
						border: none;
					    text-indent: -9999px;
					    top: 50%;
					    outline: none;
					}
					.slick-next{
						position: absolute;
						right: 0;
						background:url(../img/next.png) no-repeat left;
						width: 24px;
						height: 50px;
						cursor: pointer;
					    border: none;
					    text-indent: -9999px;
					    top: 50%;
					    outline: none;
					}
				}
				.block{
					a{
						text-decoration: none;
						display: block;
						text-align: center;
						padding: 0 10px;
						.img{
							img{
								width: 100%;
							}
						}
						.title{
							font-size: 14px;
							color: #666666;
						}
						.price{
							font-size: 14px;
							color: #333333;
							font-weight: bold;
						}
					}
				}
			}
		}
		.top-pilihan-wrapper{
			padding: 50px 0;
			h3{
				font-weight: bold;
    			color: #333;
			}
			.product-wrapper{
				.product-column{
					.block{
						width: 16.66666667%;
						height: 225px;
						margin-bottom: 20px;
						border-right: none;
						@media screen and (min-width: 768px) {
							padding: 0;
						}
						@media screen and (max-width: 480px) {
							width: 50%;
							padding: 0;
						}
						a{
							height: 100%;
							position: relative;
							z-index: 9;
							padding: 0;
							text-align: center;
							@media screen and(min-width: 768px)and(max-width: 1024px) {
								padding: 0;
							}
							.img{
								min-height: 140px;
								@media screen and (max-width: 768px) {
									min-height: 50px;
									img{
										width: 100%;
									}
								}
								img{
										width: 100%;
									}
							}
							.star-list{
								ul{
									width: 45%;
									@media screen and (max-width: 768px) {
										width: 100%;
									}
									li{
									    margin-right: -5px;
									}
								}
							}
						}
					}
				}
				.seemore{
					text-align: center;
					text-transform: capitalize;
					margin: 20px 0;
					a{
						border: 1px solid #199cb7;
						padding: 10px 20px;
						display: inline-block;
						color: #199cb7;
					}
				}
			}
		}
	}

	#footer-wrapper{
		border-bottom: 1px solid #666;
		@media screen and (max-width: 480px) {
			background: #f5f9fc;
		}
		.before-footer-wrapper{
			padding: 50px 0;
			.block{
				text-align: center;
				@media screen and (max-width: 480px) {
				margin-bottom: 20px;
				}
				&:last-child{
					background: none;
				}
				.img{
					display: inline-block;
					margin-bottom: 10px;
					img{
						height: 61px;
					}
				}
				.title{
					color: #333;
					font-weight: bold;
					margin-bottom: 5px;
					@media screen  and (max-width: 480px) {
						font-size: 13px;
					}
				}
				.desc{
					color: #666;
					font-size:13px;
					line-height: normal;
					@media screen and (max-width: 768px) {
						font-size: 12px;
					}
				}
			}
		}
		.footer{
		    font-size: 14px;
			background: #211f1d;
			color: #666;
			padding: 50px 0;
			line-height: normal;
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				font-size: 12px;    			
			}
			.logo{
				@media screen and (min-width: 768px)and(max-width: 1024px) {
					img{
						width: 100%;
					}
				}	
			}
			.title{
				font-weight: bold;
				text-transform: capitalize;
				margin-bottom: 10px;
				font-size: 18px;
				@media screen and (max-width: 480px) {
					width: 50%;
    				font-size: 18px;
    				margin-top: 20px;
				}
			}
			.list-address{
				margin-top: 35px;
				@media screen and (max-width: 480px) {
					margin-top: 20px;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						margin-bottom: 10px;
						padding-left: 25px;
						&:nth-child(1){
							background: url(../img/footer-maps.png) no-repeat left;
						}
						&:nth-child(2){
							background: url(../img/footer-phone.png) no-repeat left;
						}
						&:nth-child(3){
							background: url(../img/footer-mail.png) no-repeat left;
						}
					}
				}
			}
			.list-menus{
				margin-top: 20px;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						margin: 5px 0;
						font-size: 14px;
						a{
							color: #666;
						}
					}
				}
			}
			.img-wrap{
				padding-right: 0;
				// @media screen and (min-width: 768px)and(max-width: 1024px) {
					img{
						width: 100%;
					}
				// }
			}
			.list-blog{
				.blog{
					border-bottom: 1px solid #333;
					padding: 15px 0;
					&:last-child{
						border: none;
					}
					a{
						color: #666;
					}
				}
			}
		}
	}

	#bottom{
		background: #171614;
		text-align: center;
		padding: 30px 0; 
		color: #999999;
		font-size: 16px;
		a{
			color: #999999;
		}
	}

}