/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* line 15, ../sass/print.scss */
.nopadding.even {
  padding-right: 0;
}
/* line 18, ../sass/print.scss */
.nopadding.odd {
  padding-left: 0;
}

/* line 23, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 30, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: #fff;
  border: none;
  padding: 0;
}
/* line 34, ../sass/print.scss */
#wrapper #header-mobile .navbar .bg-search {
  width: 100%;
  background: #fff;
  padding: 20px 0;
}
/* line 40, ../sass/print.scss */
#wrapper #header-mobile .navbar-header {
  width: 100%;
}
/* line 45, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .menus {
  position: relative;
  z-index: 2;
}
/* line 49, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .logo {
  margin-top: 15px;
}
/* line 52, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile {
  position: relative;
}
/* line 54, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile a {
  display: block;
  text-align: center;
}
/* line 58, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile .shop-act-list {
  position: absolute;
  right: 0;
  top: 20px;
  margin-top: 0;
}
/* line 66, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler {
  padding: 13px 0;
  outline: none;
}
/* line 69, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 5px;
}
/* line 80, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li {
  padding: 10px 0;
}
/* line 82, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li a {
  color: #0096d9;
}
/* line 88, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: relative;
  margin-top: 7px;
}
/* line 91, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: #f2f2f2;
  width: 100% !IMPORTANT;
  margin-left: 0 !important;
  border: none;
}
/* line 97, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #bfbfbf;
}
/* line 104, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
  text-align: right;
}
/* line 107, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 111, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul .search {
  margin-top: 3px;
}
/* line 114, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 114, ../sass/print.scss */
  #wrapper #header-mobile .shop-act-list ul li {
    margin-right: 10px;
  }
}
/* line 123, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 126, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 132, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #ffc53e;
  color: #333;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 144, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 147, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 153, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 150px;
}
/* line 156, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .block img {
  width: 100%;
  object-fit: cover;
}
/* line 161, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 167, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 171, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: #d7d7d7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 181, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots .slick-active button {
  background: #e3211d;
}
/* line 189, ../sass/print.scss */
#wrapper #top {
  background: #211f1d;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #292827;
}
/* line 194, ../sass/print.scss */
#wrapper #top .top-cols {
  font-size: 12px;
}
/* line 197, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 199, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
  color: #999;
}
/* line 204, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 204, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 10px;
  }
}
/* line 209, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp a {
  color: #ec7612;
}
/* line 213, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 218, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 220, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  margin-right: 15px;
}
/* line 222, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  padding-left: 20px;
}
/* line 226, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 228, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
  color: #999;
}
/* line 234, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
}
/* line 236, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #fff;
}
/* line 239, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 243, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 247, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
  color: #ec7612;
  font-size: 12px;
}
/* line 254, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 260, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
}
/* line 267, ../sass/print.scss */
#wrapper #header {
  background: #211f1d;
  padding: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 272, ../sass/print.scss */
  #wrapper #header .logo img {
    width: 100%;
  }
}
/* line 278, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  background: #fff;
  font-size: 12px;
  border: none;
  border-radius: 20px;
}
/* line 283, ../sass/print.scss */
#wrapper #header .search-top .form-inline .dropdown-toggle {
  border: none;
  padding: 0 15px !Important;
}
/* line 287, ../sass/print.scss */
#wrapper #header .search-top .form-inline .filter-option-inner-inner {
  font-size: 13px;
  padding-top: 2px;
}
/* line 291, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  background: none;
  width: 68%;
}
/* line 296, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 296, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 301, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 304, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 314, ../sass/print.scss */
#wrapper #header .search-top .form-inline .search-btn {
  position: absolute;
  right: 15px;
  top: 0;
  width: 55px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
}
/* line 328, ../sass/print.scss */
#wrapper #header .top-right {
  padding-top: 10px;
}
/* line 330, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list {
  padding: 0;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 330, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
/* line 337, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 340, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 8px;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}
/* line 348, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li img {
  display: inline-block;
}
/* line 351, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li span {
  display: block;
  color: #999999;
  font-size: 12px;
}
/* line 356, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #f36f36;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 368, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 370, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 373, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 373, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 386, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 393, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 396, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 399, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 403, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 406, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 414, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 417, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 420, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 423, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 428, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 432, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 435, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 441, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 445, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 448, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 451, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 454, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 461, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 463, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 466, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 466, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 479, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 486, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 489, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 492, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 496, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 499, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 507, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 510, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 513, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 516, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 528, ../sass/print.scss */
#wrapper #header .top-right .user-act-list {
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 528, ../sass/print.scss */
  #wrapper #header .top-right .user-act-list {
    display: none;
  }
}
/* line 533, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul {
  padding-top: 20px;
  margin: 0;
  background: url(../img/ico-user.png) no-repeat center;
}
/* line 537, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li {
  list-style: none;
  float: left;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 4px;
}
/* line 543, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li:last-child {
  margin-right: 0;
}
/* line 546, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li a {
  color: #999999;
}
/* line 548, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li a:hover {
  color: #ec7612;
}
/* line 557, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -120px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 565, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 567, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 571, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 574, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 580, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .login-btn {
  background: #199cb7;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 586, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 597, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 599, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  height: 45px;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 599, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
/* line 611, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding: 20px 0 0;
  margin: 0;
}
/* line 614, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
/* line 620, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 623, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 627, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 636, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper {
  overflow: hidden;
  background: #fafafa;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}
/* line 641, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .left {
  border-left: 1px solid #d7d7d7;
  padding: 10px;
  border-right: 1px solid #d7d7d7;
  text-transform: capitalize;
  color: #666;
  font-weight: bold;
  font-size: 18px;
}
/* line 649, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .left .cat {
  background: url(../img/bg-cat.png) no-repeat 3% center;
  padding-left: 50px;
}
/* line 656, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .right .menus ul {
  padding: 0;
  margin-top: 13px;
  margin-left: 30px;
}
/* line 660, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .right .menus ul li {
  list-style: none;
  float: left;
  font-weight: bold;
  margin-right: 50px;
  text-transform: capitalize;
}
/* line 666, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .right .menus ul li:last-child {
  margin-right: 0;
}
/* line 669, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .right .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 672, ../sass/print.scss */
#wrapper #banner-wrapper .menu-wrapper .right .menus ul li a:hover {
  color: #ec7612;
}
/* line 681, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper {
  border-left: 1px solid #d7d7d7;
  padding: 0;
  border-right: 1px solid #d7d7d7;
}
/* line 685, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category {
  background: #fff;
  height: 342px;
  padding: 20px 0;
  border-bottom: 1px solid #d7d7d7;
}
/* line 690, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 693, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: normal;
}
/* line 698, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a {
  padding: 2px 20px;
  display: block;
  color: #757575;
  text-decoration: none;
}
/* line 703, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a:hover {
  color: #ec7612;
}
/* line 711, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
/* line 716, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner img {
  width: 100%;
  height: 342px;
}
/* line 720, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 726, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 730, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: #d7d7d7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 740, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots .slick-active button {
  background: #e3211d;
}
/* line 750, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 753, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block img {
  width: 100%;
  height: 171px;
}
/* line 761, ../sass/print.scss */
#wrapper #content-wrapper {
  padding-top: 50px;
}
/* line 764, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 568px) {
  /* line 764, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    font-size: 20px;
  }
}
/* line 771, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more {
  font-size: 14px;
  margin-top: 7px;
  margin-left: 20px;
}
@media screen and (max-width: 568px) {
  /* line 771, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top .more {
    margin-top: 0;
    float: right !important;
  }
}
/* line 779, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more a {
  color: #0066cc;
}
/* line 784, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 788, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .left {
  padding-right: 0;
}
/* line 791, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .right {
  padding-left: 0;
}
/* line 794, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/* line 797, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block:first-child {
  border-top: 1px solid #eee;
}
/* line 800, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block.large {
  border-right: 1px solid #eee;
  height: 174px;
  border-top: 1px solid #eee;
}
/* line 801, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block.large a {
  padding: 0 10px;
}
/* line 807, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block.large .img {
  text-align: center;
}
/* line 809, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block.large .img img {
  width: 60%;
}
/* line 814, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a {
  padding: 10px;
  display: block;
}
/* line 818, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .img img {
  width: 100%;
}
/* line 822, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .title {
  color: #666;
  font-size: 14px;
}
/* line 826, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .price {
  color: #ec7612;
  font-weight: bold;
  font-size: 14px;
}
/* line 831, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .price-disc {
  font-size: 12px;
  color: #999;
}
/* line 837, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .bottom-col .shop-list ul {
  padding: 0;
  margin: 0;
}
/* line 840, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .bottom-col .shop-list ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
/* line 844, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper-mobile .block a .bottom-col .shop-list ul li:last-child {
  margin-right: 0;
}
/* line 857, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  padding: 0 !Important;
}
/* line 859, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a img {
  width: 100%;
}
/* line 864, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .left-column {
  padding-right: 0;
}
/* line 867, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large {
  padding-right: 0;
  padding-left: 0;
}
/* line 870, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large {
  border: 1px solid #d7d7d7;
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 870, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large {
    display: none;
  }
}
/* line 876, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block {
  height: 242px;
  padding: 20px;
}
/* line 879, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .title {
  color: #666;
  font-size: 14px;
}
/* line 883, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .price {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
/* line 888, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .img {
  text-align: center;
}
/* line 891, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .discount {
  color: #e3211d;
  font-weight: bold;
  padding: 0 15px;
}
/* line 896, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .save {
  color: #999999;
  font-size: 12px;
}
/* line 901, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .seemore a {
  color: #999999;
  padding: 20px 0;
  font-size: 12px;
}
/* line 905, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .seemore a:hover {
  box-shadow: none;
}
/* line 910, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 910, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .star-list {
    padding: 0 10px;
  }
}
/* line 915, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 919, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 924, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 924, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block-large .block-column-large .block .star-list .review {
    margin-left: 0;
  }
}
/* line 938, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .right-column {
  padding-left: 0;
}
/* line 942, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column a img {
  width: 85% !Important;
}
@media screen and (min-width: 1200px) {
  /* line 942, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column a img {
    height: 180px;
  }
}
/* line 949, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column:first-child {
  height: 244px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 949, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column:first-child {
    display: none;
  }
}
/* line 954, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column:first-child a {
  padding: 0;
}
/* line 956, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column:first-child a img {
  width: 120px !important;
}
/* line 961, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column:last-child {
  height: 300px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 961, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .right-column .block-column:last-child {
    height: 260px;
  }
}
/* line 969, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-column {
  border: 1px solid #d7d7d7;
  text-align: center;
  background: #fff;
  max-height: 545px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 969, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block-column {
    height: 260px;
    overflow: hidden;
  }
}
/* line 978, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-column a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
/* line 983, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-column a .img img {
  width: 100%;
}
/* line 987, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-column a .title {
  color: #666;
  font-size: 14px;
}
/* line 991, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block-column a .price {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
/* line 999, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 220px;
  height: 328px;
}
/* line 1004, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 1010, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 1004, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1004, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 1019, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a img {
  width: 100%;
}
/* line 1024, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 200px;
}
@media screen and (max-width: 480px) {
  /* line 1024, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
/* line 1032, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1032, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 1040, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #333;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1040, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 1048, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #999;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1048, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 1055, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1055, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 1060, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 1064, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 1069, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 1069, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 1084, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 1088, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 1094, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin: 50px 0;
}
/* line 1096, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .tops {
  border-bottom: 1px solid #eee;
}
/* line 1099, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1099, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper h3 {
    font-size: 24px;
  }
}
/* line 1107, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .cat-wrapper ul {
  padding: 0;
  margin: 0;
}
/* line 1110, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .cat-wrapper ul li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1110, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .cat-wrapper ul li {
    margin-right: 10px;
    font-size: 10px;
  }
}
/* line 1119, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .cat-wrapper ul li:last-child {
  margin-right: 0;
}
/* line 1122, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .cat-wrapper ul li a {
  color: #999;
  text-decoration: none;
}
/* line 1131, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .list-category-slide .slick-prev {
  position: absolute;
  z-index: 9;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  outline: none;
}
/* line 1143, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .list-category-slide .slick-next {
  position: absolute;
  right: 0;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  outline: none;
}
/* line 1157, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .block a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0 10px;
}
/* line 1163, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .block a .img img {
  width: 100%;
}
/* line 1167, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .block a .title {
  font-size: 14px;
  color: #666666;
}
/* line 1171, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .block a .price {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
/* line 1180, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  padding: 50px 0;
}
/* line 1182, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 1188, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 225px;
  margin-bottom: 20px;
  border-right: none;
}
@media screen and (min-width: 768px) {
  /* line 1188, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1188, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 1200, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1200, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 1209, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 1209, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 1213, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 1217, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 1222, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 1222, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 1227, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 1235, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}
/* line 1239, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  border: 1px solid #199cb7;
  padding: 10px 20px;
  display: inline-block;
  color: #199cb7;
}
/* line 1250, ../sass/print.scss */
#wrapper #footer-wrapper {
  border-bottom: 1px solid #666;
}
@media screen and (max-width: 480px) {
  /* line 1250, ../sass/print.scss */
  #wrapper #footer-wrapper {
    background: #f5f9fc;
  }
}
/* line 1255, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
}
/* line 1257, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block {
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 1257, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    margin-bottom: 20px;
  }
}
/* line 1262, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 1265, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 1268, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img img {
  height: 61px;
}
/* line 1272, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
@media screen and (max-width: 480px) {
  /* line 1272, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .title {
    font-size: 13px;
  }
}
/* line 1280, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  color: #666;
  font-size: 13px;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  /* line 1280, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
  }
}
/* line 1290, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  font-size: 14px;
  background: #211f1d;
  color: #666;
  padding: 50px 0;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1290, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1301, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .logo img {
    width: 100%;
  }
}
/* line 1306, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  /* line 1306, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
/* line 1317, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 1317, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 1322, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 1325, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 1329, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 1332, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 1335, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 1341, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
/* line 1343, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 1346, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  list-style: none;
  margin: 5px 0;
  font-size: 14px;
}
/* line 1350, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #666;
}
/* line 1356, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
/* line 1359, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap img {
  width: 100%;
}
/* line 1365, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 1368, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 1371, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #666;
}
/* line 1379, ../sass/print.scss */
#wrapper #bottom {
  background: #171614;
  text-align: center;
  padding: 30px 0;
  color: #999999;
  font-size: 16px;
}
/* line 1385, ../sass/print.scss */
#wrapper #bottom a {
  color: #999999;
}
